In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv("glass.csv")

In [3]:
# 특징과 라벨 분리
X = df.drop(['Glass_type'], axis = 1)
Y = df['Glass_type']

In [4]:
# 학습 데이터와 평가 데이터 분리
from sklearn.model_selection import train_test_split
Train_X, Test_X, Train_Y, Test_Y = train_test_split(X, Y)
Train_X.shape

(160, 8)

In [5]:
import numpy as np
def IQR_rule(val_list): # 한 특징에 포함된 값 (열 벡터)
    # IQR 계산    
    # 사분위값
    Q1 = np.quantile(val_list, 0.25)
    Q3 = np.quantile(val_list, 0.75)
    IQR = Q3 - Q1
    
    # IQR rule을 위배하지 않는 bool list 계산 (True: 이상치 X, False: 이상치 O)
    # 해당 범위헤 해당하는 값만 허용
    not_outlier_condition = (Q3 + 1.5 * IQR > val_list) & (Q1 - 1.5 * IQR < val_list)
    return not_outlier_condition

In [6]:
# apply를 이용하여 모든 컬럼에 IQR rule 함수 적용
conditions = Train_X.apply(IQR_rule)
conditions

        RI     Na     Mg    Al    Si     K     Ca     Fe
35    True   True   True  True  True  True   True   True
4     True   True   True  True  True  True   True   True
166   True   True   True  True  True  True   True  False
55   False   True  False  True  True  True  False   True
133   True   True   True  True  True  True   True   True
..     ...    ...    ...   ...   ...   ...    ...    ...
12    True   True   True  True  True  True   True   True
78    True   True   True  True  True  True   True   True
117   True   True   True  True  True  True   True   True
98    True  False  False  True  True  True   True   True
51    True   True   True  True  True  True   True   True

[160 rows x 8 columns]

In [7]:
# 하나라도 IQR 규칙을 위반하는 요소를 갖는 레코드를 제거하기 위한 규칙
#  모든 컬럼이 true 인 경우에만 추출
# 행별로 true 갯수가 컬럼수랑 같아야함.
total_condition = conditions.sum(axis = 1) == len(Train_X.columns) 
Train_X = Train_X.loc[total_condition] # 이상치 제거

In [8]:
Train_X.shape #  50개 삭제됨

(109, 8)